<div class="margin-30">
  <h1>Death Cause</h1>
  <div class="centered">
    <h2>Top Causes</h2>
    <div class="podium">
      <div class="trophy trophy-gold">
        <i class="fa-solid fa-skull-crossbones gold"></i>
        <span class="font-size-20 bold"><%= t("cause_of_death.#{@top_causes.first.cause_of_death}") %></span>
        <span>Total Kills: <%= @top_causes.first.count %></span>
      </div>
      <div class="trophy trophy-silver">
        <i class="fa-solid fa-skull-crossbones silver"></i>
        <span class="font-size-20 bold"><%= t("cause_of_death.#{@top_causes.second.cause_of_death}") %></span>
        <span>Total Kills: <%= @top_causes.second.count %></span>
      </div>
      <div class="trophy trophy-bronze">
        <i class="fa-solid fa-skull-crossbones bronze"></i>
        <span class="font-size-20 bold"><%= t("cause_of_death.#{@top_causes.third.cause_of_death}") %></span>
        <span>Total Kills: <%= @top_causes.third.count %></span>
      </div>
    </div> 
  </div>
  <table class="custom-table">
    <tr>
      <th>Match</th>
      <th>Death Cause</th>
    </tr>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.name %></td>
          <td><%= match.kills.group(:cause_of_death).count.map { |k,v| "#{k}: #{v}"}.join(' | ') %></td>
        </tr>
      <% end %>      
    </tr>
</div>